__pycache__
.python-version
wandb
pommiers
*.pth
assets/
311pommiers/
out
poids
stats
experiments/
singularity_workspace/.ipynb_checkpoints/
singularity_workspace/TmpDemos/
singularity_workspace/notebook/
venv31012/